# Configurações do Domínio
FRONTEND_DOMAIN=painel.meudominio.com
BACKEND_DOMAIN=api.meudominio.com

# Banco de Dados PostgreSQL
DB_USER=postgres
DB_PASS=SenhaSuperSeguraBanco123!
DB_NAME=whaticket_afcode

# Chaves de Segurança JWT (Gere chaves seguras aleatórias)
JWT_SECRET=SuaChaveSecretaJWTUltraSegura123!
JWT_REFRESH_SECRET=SuaChaveSecretaJWTRefreshUltraSegura123!

# Nome do Sistema
COMPANY_NAME=PJZap
